html,body{padding:0;margin:0;width:100%;height:100%;overflow:hidden;color:#cccccc;background:#ffffff;font-family:Helvetica,Arial,sans-serif;font-weight:normal;font-size:32px;line-height:1.0em;}
h1,h2,h3,h4{margin:0 0 8px;line-height:0.9em;letter-spacing:-0.02em;font-weight:bold;line-height:0.9em;}
h1{margin-top:25%;font-size:3.6em;}
h2{margin-top:12px;font-size:1.8em;}
h3{font-size:1.25em;line-height:0.9em;}
h4{font-size:1.0em;line-height:0.75em;}
.kinout{position:absolute;width:1024px;height:768px;left:50%;top:50%;margin-left:-512px;margin-top:-384px;text-align:center;}
.circle{-webkit-perspective:600px;-webkit-perspective-origin:50% 25%;}
.kinout>section,.kinout>section>section{display:none;position:absolute;width:100%;min-height:640px;-webkit-transform-style:preserve-3d;-webkit-transition:all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);-moz-transition:all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);-ms-transition:all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);-o-transition:all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);transition:all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);}
.kinout section.past{display:block;opacity:0;-webkit-transform:translate3d(-100%, 0, 0);-moz-transform:translate3d(-100%, 0, 0);-ms-transform:translate3d(-100%, 0, 0);-o-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
.circle section.past{-webkit-transform:translate3d(-100%, 0, 0) rotatey(-90deg) translate3d(-100%, 0, 0);-moz-transform:translate3d(-100%, 0, 0) rotatey(-90deg) translate3d(-100%, 0, 0);-ms-transform:translate3d(-100%, 0, 0) rotatey(-90deg) translate3d(-100%, 0, 0);-o-transform:translate3d(-100%, 0, 0) rotatey(-90deg) translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0) rotatey(-90deg) translate3d(-100%, 0, 0);}
.kinout section.present{display:block;}
.kinout section.future{display:block;opacity:0;-webkit-transform:translate3d(100%, 0, 0);-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
.circle section.future{-webkit-transform:translate3d(100%, 0, 0) rotatey(90deg) translate3d(100%, 0, 0);-moz-transform:translate3d(100%, 0, 0) rotatey(90deg) translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0) rotatey(90deg) translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0) rotatey(90deg) translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0) rotatey(90deg) translate3d(100%, 0, 0);}
.kinout section>section.past{display:block;opacity:0;-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0);-o-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
.circle section>section.past{-webkit-transform:translate3d(0, -50%, 0) rotatex(70deg) translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0) rotatex(70deg) translate3d(0, -50%, 0);-ms-transform:translate3d(0, -50%, 0) rotatex(70deg) translate3d(0, -50%, 0);-o-transform:translate3d(0, -50%, 0) rotatex(70deg) translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0) rotatex(70deg) translate3d(0, -50%, 0);}
.kinout section>section.future{display:block;opacity:0;-webkit-transform:translate3d(0, 50%, 0);-moz-transform:translate3d(0, 50%, 0);-ms-transform:translate3d(0, 50%, 0);-o-transform:translate3d(0, 50%, 0);transform:translate3d(0, 50%, 0);}
.circle section>section.future{-webkit-transform:translate3d(0, 50%, 0) rotatex(-70deg) translate3d(0, 50%, 0);-moz-transform:translate3d(0, 50%, 0) rotatex(-70deg) translate3d(0, 50%, 0);-ms-transform:translate3d(0, 50%, 0) rotatex(-70deg) translate3d(0, 50%, 0);-o-transform:translate3d(0, 50%, 0) rotatex(-70deg) translate3d(0, 50%, 0);transform:translate3d(0, 50%, 0) rotatex(-70deg) translate3d(0, 50%, 0);}
article{margin-top:24px;height:504px;width:100%;font-weight:normal;}
