@font-face {
    font-family: Lobster;
    src: url('assets/Lobster1.4.otf');
}

*,h1,h2,h3,h4,h5,p,li,span,form,legend,small {
    font-family: Lobster;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

small {
    margin: 0 0 20px 0;
    display: inline-block;
}

.kinout mark {
    color: #151515;
    text-shadow: #999 2px 2px 2px;
}

input {
    font-size: 20px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #333;
    padding: 0 10px;
    width: 270px;
}