.small{font-size:0.75em;}
p{padding:16px 0 12px;}
.kinout mark{background:none;color:#555555;}
ol{list-style:decimal;list-style-position:inside;}
li{line-height:1.25em;}
.kinout>section a:not(.image){padding:1px 3px;border-bottom:1px dashed rgba(0, 0, 0, 0.3);color:#08b5fb;text-decoration:none;}
.kinout>section a:not(.image):hover{color:#fff;background:#08b5fb;text-shadow:none;border:none;}
.kinout section{text-align:center;}
img{display:block;}
.icon{font-size:1.25em;}
.code{display:block;padding:8px;background:rgba(255, 255, 255, 0.5);text-shadow:none;color:#000;font-weight:normal;font-family:'courier new';font-size:20px;}
.framed{background:rgba(0, 0, 0, 0.1);}
.contrast{background:#fff;}
.framed>*{padding:16px;}
.bordered{border:8px solid #fff;}
.transparent{color:rgba(0, 0, 0, 0.1);text-shadow:none;}
.glow{width:100%;height:100%;background-image:-webkit-radial-gradient(circle, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0));}
.kinout .left{float:left;}
.kinout .right{float:right;}
.kinout .center{margin:0 auto;}
.size_128{height:128px;}
.size_256{height:256px;}
.size_400{height:440px;}
.copyright{position:absolute;bottom:0px;width:100%;padding:7px 0 4px;color:#000;text-align:center;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);background:rgba(0, 0, 0, 0.1);opacity:0.6;font-size:16px;}
.copyright a{font-weight:bold;text-decoration:none;color:#000;}
blockquote{margin-top:20%;quotes:"\201C" "\201D";background:inherit;font-size:1.4em;line-height:1.2em;font-weight:bold;}
blockquote:before{margin-right:8px;content:open-quote;opacity:0.5;font-size:1.25em;}
blockquote:after{margin-left:8px;content:close-quote;opacity:0.5;font-size:1.25em;}
cite{float:right;padding:16px;font-size:0.75em;font-style:italic;line-height:1.0em;opacity:0.9;}
.column{float:left;width:100%;}
.fifty{width:50%;}
.thirty{width:33%;}
.quarter{width:25%;}
pre{margin:0px;background:rgba(0, 0, 0, 0.5);text-align:left;padding:0px 0px 28px 32px;}
code{color:#62b042;text-shadow:none;font-size:20px;font-family:monospace, courier;}
.fifty{width:50%;}
.thirty{width:33%;}
.quarter{width:25%;}
